In [2]:
#int variable
my_num = 7
my_num_2 = 8

In [4]:
sum_num = my_num+my_num_2
diff_num = my_num-my_num_2
print(sum_num, diff_num)

15 -1

In [6]:
product_num = my_num*my_num_2
print(product_num)

56

In [7]:
division_num = my_num/my_num_2 #float variable
print(division_num)

0.875

In [9]:
mystr = "Hello World!"
print(mystr)

Hello World!

In [10]:
mybool = True

In [12]:
# data structures_
# declaring and adding to a list

my_list = [1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [14]:
# declaring a tuple
my_tuple = (4,3,2)
print(my_tuple)

(4, 3, 2)

In [27]:
my_dict = {"name": "Rishit",
          'age': '15'}

In [28]:
my_dict['age']

'15'

In [33]:
#if/else statements

#if condition:
#    run this code
#else:
#    run this code

thresh = 10
my_num = 8

if my_num>thresh:
    print(my_num)
else:
    print(thresh)

10

In [35]:
# for loops

#for some variable in some list:
#    run this code

my_list = [5,6,7]

my_sum = 0

for value in my_list:
    my_sum += value
    
print(my_sum)

18

In [36]:
# pandas

import pandas as pd

In [45]:
x = pd.Series([1,2,3,4,5])

x+=100
print(y)

0    7
1    6
2    5
3    4
4    3
dtype: int64

In [46]:
x = pd.Series([5,4,3,2,1])
y = x*2
print(y)

0    10
1     8
2     6
3     4
4     2
dtype: int64

In [47]:
li = [3,6,9,12,15]
list_df = pd.DataFrame(li, columns =['multiple of 3'])
list_df['squared'] = list_df['multiple of 3'] * list_df['multiple of 3']
print(list_df)

   multiple of 3  squared
0              3        9
1              6       36
2              9       81
3             12      144
4             15      225

In [48]:
list_df['mod'] =  list_df['multiple of 3'] % 4
print(list_df)

   multiple of 3  squared  mod
0              3        9    3
1              6       36    2
2              9       81    1
3             12      144    0
4             15      225    3

In [49]:
print(list_df.describe())

       multiple of 3     squared      mod
count       5.000000    5.000000  5.00000
mean        9.000000   99.000000  1.80000
std         4.743416   87.025858  1.30384
min         3.000000    9.000000  0.00000
25%         6.000000   36.000000  1.00000
50%         9.000000   81.000000  2.00000
75%        12.000000  144.000000  3.00000
max        15.000000  225.000000  3.00000

In [50]:
seeds_df = pd.read_csv('seeds.csv')

In [52]:
seeds_df.sample(5)

,area,perimeter,compactness,length of kernel,width,asymmetry coefficient,length of groove,class
15,14.59,14.28,0.8993,5.351,3.333,4.185,4.781,1.0
11,14.03,14.16,0.8796,5.438,3.201,1.717,5.001,1.0
9,16.44,15.25,0.8880,5.884,3.505,1.969,5.533,1.0
114,20.97,17.25,0.8859,6.563,3.991,4.677,6.316,2.0
182,12.19,13.36,0.8579,5.240,2.909,4.857,5.158,3.0

In [53]:
seeds_df.shape

(210, 8)

In [54]:
seeds_df.describe()

,area,perimeter,compactness,length of kernel,width,asymmetry coefficient,length of groove,class
count,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,209.000000
mean,14.847524,14.559286,0.870999,5.628533,3.258605,3.700201,5.408071,2.000000
std,2.909699,1.305959,0.023629,0.443063,0.377714,1.503557,0.491480,0.820413
min,10.590000,12.410000,0.808100,4.899000,2.630000,0.765100,4.519000,1.000000
25%,12.270000,13.450000,0.856900,5.262250,2.944000,2.561500,5.045000,1.000000
50%,14.355000,14.320000,0.873450,5.523500,3.237000,3.599000,5.223000,2.000000
75%,17.305000,15.715000,0.887775,5.979750,3.561750,4.768750,5.877000,3.000000
max,21.180000,17.250000,0.918300,6.675000,4.033000,8.456000,6.550000,3.000000

In [55]:
seeds_df.head()

,area,perimeter,compactness,length of kernel,width,asymmetry coefficient,length of groove,class
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1.0
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1.0
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1.0
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1.0
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1.0

In [56]:
seeds_df['width inches'] = seeds_df['width']*2.54
seeds_df.sample(5)

,area,perimeter,compactness,length of kernel,width,asymmetry coefficient,length of groove,class,width inches
151,12.01,13.52,0.8249,5.405,2.776,6.992,5.270,3.0,7.05104
48,14.79,14.52,0.8819,5.545,3.291,2.704,5.111,1.0,8.35914
85,18.27,16.09,0.8870,6.173,3.651,2.443,6.197,2.0,9.27354
26,13.02,13.76,0.8641,5.395,3.026,3.373,4.825,1.0,7.68604
98,18.17,16.26,0.8637,6.271,3.512,2.853,6.273,2.0,8.92048

In [57]:
seeds_df.drop('width',1)

/tmp/ipykernel_1875/2173851887.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  seeds_df.drop('width',1)

,area,perimeter,compactness,length of kernel,asymmetry coefficient,length of groove,class,width inches
0,15.26,14.84,0.8710,5.763,2.221,5.220,1.0,8.41248
1,14.88,14.57,0.8811,5.554,1.018,4.956,1.0,8.46582
2,14.29,14.09,0.9050,5.291,2.699,4.825,1.0,8.47598
3,13.84,13.94,0.8955,5.324,2.259,4.805,1.0,8.58266
4,16.14,14.99,0.9034,5.658,1.355,5.175,1.0,9.04748
...,...,...,...,...,...,...,...,...
205,12.19,13.20,0.8783,5.137,3.631,4.870,3.0,7.57174
206,11.23,12.88,0.8511,5.140,4.325,5.003,3.0,7.09930
207,13.20,13.66,0.8883,5.236,8.315,5.056,3.0,8.20928
208,11.84,13.21,0.8521,5.175,3.598,5.044,3.0,7.20344
209,12.30,13.34,0.8684,5.243,5.637,5.063,3.0,7.55396